---
import Layout from "../layouts/Layout.astro";
---

<Layout title="tehs-aerial-images">
  <main>
    <div class="container mx-auto max-w-3xl px-4 py-2">
      <h1 class="text-4xl font-bold">Welcome to tehs-aerial-images</h1>
    </div>
  </main>
</Layout>
